@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="width: 350px;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Login</h5>

                <form>
                    <div class="mb-3">
                        <label for="cpfUsuario" class="form-label"><strong>CPF/Usuário</strong></label>
                        <input type="text" class="form-control" id="cpfUsuario" placeholder="Digite o cpf/usuário">
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label"><strong>Senha</strong></label>
                        <input type="password" class="form-control" id="senha" placeholder="Digite a Senha">
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="manterLogado">
                        <label class="form-check-label" for="manterLogado">Manter Logado</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>

                <div class="text-center mt-3">
                    <a href="#" class="text-decoration-none">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>